body{
    // background-color: #e0743f;
}

.cursor-pointer{
    cursor: pointer;
}

.text-hover:hover {
    color: #EB6F2A;
  }

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.show-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

